.App {
  text-align: center;
}

body {
  background-color: antiquewhite;
}

.container {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}

.notes {
  margin-top: 30px;
  padding: 1rem;
  border: 1px dotted #5643cc;
}

/* Card General Styles */
.card {
  width: 100%;
  position: relative;
  color: #fff;
  transition: 0.3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 2;
  border-radius: 1.5rem;
  margin-top: 15px;
}

.label-header {
  font-weight: 600;
  text-transform: uppercase;
}

.card.active {
  transform: rotateY(180deg);
}

.card > div {
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 0 1px 1px 1px rgba(0, 60, 134, 0.3); */
  text-align: right;
}

/* Front Card */
.card .front {
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f4791f, #659999);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1 -1 2px #aaa, 1 1 2px #555;
  backdrop-filter: blur(0.65rem);
  -webkit-backdrop-filter: blur(0.65rem);
}

.front .group .number,
.front .group .name,
.front .group .expiration {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.front .flexbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  text-align: center;
}

.header {
  color: #E17A2C;
  background: antiquewhite !important;
  box-shadow: none !important;
}

.loader {
  text-align: center;
}